* {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.form-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  height: 100%;
  position: absolute;
  background-color: #222d32;
}
.register-form-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  height: 100%;
  position: absolute;
  background-color: #222d32;
}

.image-holder {
  background-image: url(../../images/sidebar_background.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  grid-template-rows: 2fr 1fr;
}
.credentials-logo {
  justify-self: center;
  align-self: center;
  height: 300px;
  width: 300px;
}
.credentials-statement,
.copy-right {
  float: inline-end;
  padding: 60px;
  color: white;
  font-size: 20px;
  font-weight: bolder;
}

.container {
  justify-self: center;
  align-self: center;
}
.register-container {
  justify-self: center;
  align-self: center;
}

.login-box {
  padding: 70px;
  height: auto;
  background: #1a2226;
  text-align: center;
  font-size: 25px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
.register-box {
  padding: 70px;
  height: auto;
  background: #1a2226;
  font-size: 25px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
.login-title {
  margin-top: 15px;
  text-align: center;
  font-size: 30px;
  letter-spacing: 2px;
  font-weight: bold;
  color: #ecf0f5;
}
.register-title {
  text-align: center;
  font-size: 30px;
  letter-spacing: 2px;
  font-weight: bold;
  color: #ecf0f5;
}
.login-form {
  margin-top: 25px;
  text-align: left;
}
.register-form {
  text-align: left;
}

.credentials-email,
.credentials-password,
.credentials-name {
  background-color: #1a2226;
  border: none;
  border-bottom: 2px solid #0db8de;
  border-top: 0px;
  width: 100%;
  border-radius: 0px;
  outline: 0;
  margin-bottom: 20px;
  padding-left: 0px;
  color: #adaeaf;
  font-size: 20px;
}

.form-group {
  margin-bottom: 20px;
  outline: 0px;
}

.form-control:focus {
  border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-bottom: 2px solid #0db8de;
  outline: 0;
  background-color: #1a2226;
  color: #ecf0f5;
}

.credentials-name,
.credentials-email,
.credentials-password:focus {
  outline: none;
  box-shadow: 0 0 0;
}

.form-control-label {
  font-size: 15px;
  color: #6c6c6c;
  font-weight: bold;
  letter-spacing: 1px;
}

.register-button,
.login-button {
  float: right;
  border-color: #0db8de;
  color: #0db8de;
  background-color: #1a2226;
  border-radius: 0px;
  font-weight: bold;
  letter-spacing: 1px;
  padding: 10px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.register-button:hover,
.login-button:hover {
  background-color: #0db8de;
  color: white;
  right: 0px;
}
.copy-right {
  font-size: small;
  font-family: Arial, Helvetica, sans-serif;
}
.register-login {
  color: #ecf0f5;
  padding: 5px;
  font-size: small;
  text-align: right;
  float: right;
}
@media screen and (max-width: 768px) {
  .image-holder {
    display: none;
  }
  .container {
    justify-content: center;
    align-items: center;
  }
  .login-box {
    margin-left: 30px;
    width: 100%;
    height: 100%;
  }
  .register-box {
    margin-left: 30px;
    width: 100%;
    height: 100%;
  }
}
